<section class="hero container-tight text-center py-5">
  <h1 class="display-5 fw-medium mb-3 text-gradient">{{ slogan }}</h1>
  <p class="lead text-muted mb-4">I craft resilient .NET + Angular systems with tasteful UX and measurable outcomes.</p>
  <div class="d-flex flex-wrap justify-content-center gap-2 mb-5">
    <a class="button btn-ver1" routerLink="/contact">Let's Talk!</a>
  </div>
</section>
<!-- I want the wave here -->
<section class="stage position-relative overflow-hidden">
  <div *ngFor="let ic of icons; let i=index" class="fly-icon" [style.top.%]="ic.top"
    [style.animation-delay.s]="ic.delay" [style.animation-duration.s]="ic.duration" [innerHTML]="ic.icon"
    loading="lazy">
  </div>

  <div class="character">
    <div class="character">
      <div class="chip">
        <div class="pins top"></div>
        <div class="pins bottom"></div>
        <div class="pins-vert left"></div>
        <div class="pins-vert right"></div>

        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>

        <div class="traces"></div>
        <div class="core">
          <div class="pulse"></div>
          <span class="nr">RN</span>
        </div>
      </div>
    </div>
  </div>

  <div class="stream">
    <div class="train" appTicker [pxPerSec]="100">
      <span class="token" *ngFor="let t of outputTokens" [style.animation-delay.s]="t.delay">
        <span class="icon" [innerHTML]="t.icon"></span>
        <small class="label text-body-secondary fw-bold">{{ t.name }}</small>
      </span>
    </div>
  </div>
</section>

